.nav{
  color: #3d3d5c;
}
.nav-item{
  font-size: 25px;
}
.nav-item :hover{
  background-color: #3d3d5c;
  color: white;
}
.test{
  margin-right: 50px;
}
.logo{
  width: 200px;
  height: 40px;
}
.navbar{
  border: none;
  margin-bottom: 0;
  border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
